@page "/employeeProfile"

<PageTitle>Profile</PageTitle>

@inject NavigationManager manager
@inject SingletonServise servise

<input type="text" name="search" placeholder="Search..">


<style>
.button {
display: inline-block;
    border-radius: 4px;
    background-color: #0dcaf0;
    border: none;
    color: #253a4c;
    text-align: center;
    font-size: 16px;
    padding: 11px;
    width: 116px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 22px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>


<h2>Animated Button</h2>

<button class="button" style="vertical-align:middle"><span>Изменить </span></button>