@page "/rooms"

<PageTitle>Profile</PageTitle>

@inject NavigationManager manager
@inject SingletonServise servise

<section>
    @foreach(var room in rooms)
    {
        <div>
            
        </div>
    }
</section>


@code
{
    List<Room> rooms = new List<Room>();

    protected override void OnInitialized()
    {
        rooms = Mongo.GetAllRooms();
    }



    private void AddNewRoom()
    {
        
    }



    private void OpenCurentRoom(Room room)
    {
        servise.room = room;
        manager.NavigateTo("room");
    }
}

<style>
    body {
        background-color: #eeeeee
    }
</style>